@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    background-color: #000;
    color: #eee;
    margin: 0;
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #eee;
}
header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
}
header a {
    margin-right: 40px;
}